<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    jquery-->
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--    semantic ui的css样式-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script th:src="@{/js/echarts.js}"></script>
</head>
<!--<script>-->
<!--    var webSocket;-->
<!--    if (window.WebSocket) {-->
<!--        webSocket = new WebSocket("ws://localhost:10050/ws");-->
<!--        //webSocket = new WebSocket("ws://47.97.208.219:10050/ws");-->

<!--        webSocket.onmessage = function (ev) {-->
<!--            console.log("=====");-->
<!--            var res = document.getElementById("response");-->
<!--            res.value = res.value + "\n" + ev.data;-->
<!--        }-->

<!--        webSocket.onopen = function (ev) {-->
<!--            var req = document.getElementById("response");-->
<!--            req.value = "链接开启...."+"\n";-->
<!--        }-->

<!--        webSocket.onclose = function (ev) {-->
<!--            var req = document.getElementById("response");-->
<!--            req.value += "链接关闭...."+"\n";-->
<!--        }-->

<!--        function sendMessage(msg) {-->
<!--            //alert("send?");-->
<!--            if (!window.WebSocket){-->
<!--                return;-->
<!--            }-->
<!--            if (webSocket.readyState === WebSocket.OPEN) {-->
<!--                //alert("send!");-->
<!--                webSocket.send(msg);-->
<!--                document.getElementById("requestComment").value='';-->
<!--            }else {-->
<!--                alert("链接未开启！");-->
<!--            }-->
<!--        }-->

<!--    } else {-->
<!--        alert("浏览器不支持websocket")-->
<!--    }-->
<!--</script>-->
<body>
<div>
    <div id="main" style="width: 600px;height:400px;" ></div>
    <div id="chart3" style="width: 600px;height:400px;" ></div>
    <div id="chart4" style="width: 600px;height:400px;" ></div>
</div>
    <div>
        <p>家属电话</p><input id="fphone" type="text">
        <p>家属姓名</p><input id="fname" type="text">
    </div>
<form onsubmit="false">
    <textarea style="height: 300px;width: 300px" id="requestComment" name="reqestcom"></textarea>
    <button type="button" onclick="sendMessage(this.form.reqestcom.value)">发送</button>
    <textarea style="height: 300px;width: 300px" id="response"></textarea>
    <button type="button" onclick="document.getElementById('response').value=''">清空</button>
</form>
<!--semantic ui的js样式-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript">
    var webSocket;
    var f_data = 0
    var all_data = []

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    var myChart1 = echarts.init(document.getElementById('chart3'));
    var myChart2 = echarts.init(document.getElementById('chart4'));

    // 指定图表的配置项和数据
    var option1 = {
        title: {
            text: '雷达散点图'
        },
        xAxis: {},
        yAxis: {},
        series: [
            {
                symbolSize: 20,
                data: [
                    [10.0, 8.04],
                    [8.07, 6.95],
                    [13.0, 7.58],
                    [9.05, 8.81],
                    [11.0, 8.33],
                    [14.0, 7.66],
                    [13.4, 6.81],
                    [10.0, 6.33],
                    [14.0, 8.96],
                    [12.5, 6.82],
                    [9.15, 7.2],
                    [11.5, 7.2],
                    [3.03, 4.23],
                    [12.2, 7.83],
                    [2.02, 4.47],
                    [1.05, 3.33],
                    [4.05, 4.96],
                    [6.03, 7.24],
                    [12.0, 6.26],
                    [12.0, 8.84],
                    [7.08, 5.82],
                    [5.02, 5.68]
                ],
                type: 'scatter'
            }
        ]
    };
    var option2 = {
        title:{
            text:"人体体温"
        },
        series: [
            {
                type: 'gauge',
                center: ['50%', '60%'],
                startAngle: 200,
                endAngle: -20,
                min: 0,
                max: 60,
                splitNumber: 12,
                itemStyle: {
                    color: '#FFAB91'
                },
                progress: {
                    show: true,
                    width: 30
                },
                pointer: {
                    show: false
                },
                axisLine: {
                    lineStyle: {
                        width: 30
                    }
                },
                axisTick: {
                    distance: -45,
                    splitNumber: 5,
                    lineStyle: {
                        width: 2,
                        color: '#999'
                    }
                },
                splitLine: {
                    distance: -52,
                    length: 14,
                    lineStyle: {
                        width: 3,
                        color: '#999'
                    }
                },
                axisLabel: {
                    distance: -20,
                    color: '#999',
                    fontSize: 20
                },
                anchor: {
                    show: false
                },
                title: {
                    show: false
                },
                detail: {
                    valueAnimation: true,
                    width: '60%',
                    lineHeight: 40,
                    borderRadius: 8,
                    offsetCenter: [0, '-15%'],
                    fontSize: 60,
                    fontWeight: 'bolder',
                    formatter: '{value} °C',
                    color: 'auto'
                },
                data: [
                    {
                        value: 20
                    }
                ]
            },
            {
                type: 'gauge',
                center: ['50%', '60%'],
                startAngle: 200,
                endAngle: -20,
                min: 0,
                max: 60,
                itemStyle: {
                    color: '#FD7347'
                },
                progress: {
                    show: true,
                    width: 8
                },
                pointer: {
                    show: false
                },
                axisLine: {
                    show: false
                },
                axisTick: {
                    show: false
                },
                splitLine: {
                    show: false
                },
                axisLabel: {
                    show: false
                },
                detail: {
                    show: false
                },
                data: [
                    {
                        value: 20
                    }
                ]
            }
        ]
    }
    var option3 = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                data: [150, 230, 224, 218, 135, 147, 260],
                type: 'line'
            }
        ]
    }

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option1);
    myChart1.setOption(option2)
    myChart2.setOption(option3)

    //获取人体点云数据
    $.ajax({
        url:"/cloudData/getcloudData",
        type: "get",
        dataType:"json",
        contentType:"application/json"
        ,success(resp){
            f_data = resp.data
            for(i = 0; i < f_data.length;i++)
            {
                var a = []
                var angle = f_data[i].angle
                var dist = f_data[i].dist
                a.push(Math.sin(angle* (Math.PI / 180))*dist)
                a.push(Math.cos(angle* (Math.PI / 180))*dist)
                all_data.push(a)
            }
            console.log(all_data)
        }

    })

    //获取家庭地形数据
    $.ajax({
        url:"/familyData/getFamily",
        type: "get",
        dataType:"json",
        contentType:"application/json"
        ,success(resp){
            f_data = resp.data

            for(i = 0; i < f_data.length;i++)
            {
                var a = []
                var angle = f_data[i].angle
                var dist = f_data[i].rdist
                a.push(Math.sin(angle* (Math.PI / 180))*dist)
                a.push(Math.cos(angle* (Math.PI / 180))*dist)
                all_data.push(a)
            }
            console.log(all_data)
            option1 = {
                title: {
                    text: '雷达散点图'
                },
                xAxis: {},
                yAxis: {},
                series: [
                    {
                        symbolSize: 20,
                        data: all_data,
                        type: 'scatter'
                    }
                ]
            };
            myChart.setOption(option1);
        }
    })
    if (window.WebSocket) {
        // webSocket = new WebSocket("ws://localhost:10050/ws");
        webSocket = new WebSocket("ws://47.97.208.219:10050/ws");

        webSocket.onmessage = function (ev) {
            //实时更新人体点云
            console.log("=====");
            var res = document.getElementById("response");
            res.value = res.value + "\n" + ev.data;
            all_data = []
            $.ajax({
                url:"/cloudData/getcloudData",
                type: "get",
                dataType:"json",
                contentType:"application/json"
                ,success(resp){
                    f_data = resp.data
                    for(i = 0; i < f_data.length;i++)
                    {
                        var a = []
                        var angle = f_data[i].angle
                        var dist = f_data[i].dist
                        a.push(Math.sin(angle* (Math.PI / 180))*dist)
                        a.push(Math.cos(angle* (Math.PI / 180))*dist)
                        all_data.push(a)
                    }
                    console.log(all_data)
                }

            })
            $.ajax({
                url:"/familyData/getFamily",
                type: "get",
                dataType:"json",
                contentType:"application/json"
                ,success(resp){
                    f_data = resp.data

                    for(i = 0; i < f_data.length;i++)
                    {
                        var a = []
                        var angle = f_data[i].angle
                        var dist = f_data[i].rdist
                        a.push(Math.sin(angle* (Math.PI / 180))*dist)
                        a.push(Math.cos(angle* (Math.PI / 180))*dist)
                        all_data.push(a)
                    }
                    console.log(all_data)
                    option1 = {
                        title: {
                            text: '雷达散点图'
                        },
                        xAxis: {},
                        yAxis: {},
                        series: [
                            {
                                symbolSize: 20,
                                data: all_data,
                                type: 'scatter'
                            }
                        ]
                    };
                    myChart.setOption(option1);
                }
            })
        }

        webSocket.onopen = function (ev) {
            var req = document.getElementById("response");
            req.value = "链接开启...."+"\n";
        }

        webSocket.onclose = function (ev) {
            var req = document.getElementById("response");
            req.value += "链接关闭...."+"\n";
        }

        function sendMessage(msg) {
            //alert("send?");
            if (!window.WebSocket){
                return;
            }
            if (webSocket.readyState === WebSocket.OPEN) {
                //alert("send!");
                webSocket.send(msg);
                document.getElementById("requestComment").value='';
            }else {
                alert("链接未开启！");
            }
        }

    } else {
        alert("浏览器不支持websocket")
    }
</script>
<script>
    window.onload = function (){
        $.ajax({
            url:"/oldFamily/getFamilyMessage",
            dataType:"json",
            contentType:"application/json"
            ,success(resp){
                document.getElementById("fphone").value = resp.data[0].fphone
                document.getElementById("fname").value = resp.data[0].name
            }

        })

        $.ajax({
            url:"/radarStatus/getradarStatus",
            type: "post",
            dataType:"json",
            contentType:"application/json"
            ,success(resp){
                console.log(resp)
            }

        })


    //     $.ajax({
    //         url:"/oldFamily/untieFamily",
    //         type: "post",
    //         dataType:"json",
    //         contentType:"application/json",
    //         data:JSON.stringify({
    //             "fphone":"120",
    //             "name":"救护车"
    //         })
    //         ,success(resp){
    //            console.log(resp)
    //         }
    // })
    }

</script>
</body>
</html>